:root{
        --color1: #f8f1f1;
        --color2: #11698e;
        --color3: #19456b;
        --color4: #16c79a;
        --color5: #8DE3AF;
}

/* :root{
        --color1: #05396B;
        --color2: #389583;
        --color3: #5CDB94;
        --color4: #8DE3AF;
        --color5: #EDF5E0;
} */
        
html{
        /* background-image: url("../img/paper_background.jpg");
        background-repeat: repeat;  */
        font-size: 20px;
        height: -webkit-fill-available;
}

body{
        margin: 0;
        height: 100vh;
        background-color: var(--color4);
}

header{
        padding: 20px;
        background-color: var(--color2);
}

nav{
        color: var(--color5);
        font-size: 20px;
        font-style: bol;
        display: flex;
        justify-content: center;
}

nav strong{
        text-align: center;
        align-content: center;
}

#productDetailsScreen{
        display: none;
}

#noItemsScreen{
        text-align: center;
        padding: 70px;
        font-size: 40px;
}

#noItemsScreen p:nth-child(1){
        color: #11698e;
        text-transform: uppercase;
}

#noItemsScreen p:nth-child(2){
        font-size: 10rem;
}

#addProductButton{
        position: fixed;
        bottom: 25px;
        right: 25px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
}

#productDetailsScreen{
        position: absolute;
        padding: 20px;
        bottom: 0;
        top: 70px;
        left: 0;
        right: 0;
        background-color: var(--color3);
}

#productDetailsScreen__exitButton{
        position: absolute;
        border-radius: 50%;
        top: 15px;
        right: 15px;
}

#productDetailsScreen__img{
        width: 200px;
        display: block;
        margin-top: 5vh;
        margin-left: auto;
        margin-right: auto;
}

#productDetailsScreen__name{
        margin-left: 25px;
        margin-top: 5vh;
}

#productDetailsScreen__description{
        margin-top: 5vh;
        margin-left: 25px;
}

#productListScreen{

        display: block;
}

.productListScreen__item{
        background-color: var(--color5);
        display: block;
        padding: 10px;
        position: relative;
}

.productListScreen__img{
        width: 60px;
}

.productListScreen__name{
        margin-left: 25px;
        display: inline;
        width: 75px;
}

#productListScreen__detailButton{
        position: absolute;
        width: 50px;
        right: 25px;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        border-radius: 50%;
}

/* Desktop */
@media only screen and (min-width: 1024px){
        #cont{
                position: relative;
                display: flex;
                height: 100vh;
                margin: 0;
                justify-content: space-between;
        }
        #noItemsScreen{
                flex-basis: 100%;
                height: 100vh;
        }
        
        #productListScreen{
                flex-basis: 50vw;
                margin: 50px 0;
        }

        .productListScreen__item{
                margin-left: 25px;
                margin-right: 25px;
                padding: 10px;
                width: 90%;
        }
        
        .productListScreen__img{
                justify-content: baseline;
                display: inline;
                width: 60px;
        }
        
        .productListScreen__name{
                margin-left: 25px;
                display: inline;
                width: 75px;
        }
        
        #productDetailsScreen{
                position: absolute;
                padding: 0;
                top: 0;
                left: 50%;
                right: 0;
        }
}

/* Tablet */
@media only screen and (min-width: 768px){

}